.water-list{
  .add-wrapper{
    line-height: 40px;
    .number{
      color: #ffa733;
      margin-right: 10px;
    }
    .add{
      float: right;
    }
  }
  .input-wrapper{
    margin: 10px 0;
    .title{
      display: inline-block;
      vertical-align: middle;
    }
    .input-box{
      width: calc(100% - 50px);
      vertical-align: middle;
    }
  }
}